<div class="form-wrapper">
  <section>
    <mat-form-field>
      <input type="number" matInput [formControl]="amountControl" />
      <mat-error>{{ amountErrorMessage() }}</mat-error>
    </mat-form-field>
  </section>

  <form [formGroup]="currencyConverterForm">
    <section>
      <span> From: </span>
      <mat-form-field>
        <mat-select
          formControlName="from"
          (selectionChange)="onCurrencySelectionChanged($event)">
          @for(item of currencyList() | keyvalue; track item.key) {
          <mat-option [value]="item.key">{{ item.value }}</mat-option>
          }
        </mat-select>
        <mat-error>Currency is required</mat-error>
      </mat-form-field>
    </section>

    <section>
      <span> To: </span>
      <mat-form-field>
        <mat-select
          formControlName="to"
          (selectionChange)="onCurrencySelectionChanged($event)">
          @for(item of currencyList() | keyvalue; track item.key) {
          <mat-option [value]="item.key">{{ item.value }}</mat-option>
          }
        </mat-select>
        <mat-error>Currency is required</mat-error>
      </mat-form-field>
    </section>
  </form>
</div>

<mat-error class="same-currency-error">
  {{ sameCurrencyValidatorErrorMessage() }}
</mat-error>
