<div class="form-currency-container">
  <form [formGroup]="currencyConverterForm">
    
    <section>
      <mat-form-field>
        <input type="number" matInput [formControl]="amountControl" />
        <mat-error>{{ amountErrorMessage() }}</mat-error>
      </mat-form-field>
    </section>

    <section class="section-wrapper">
      <span> From: </span>
      <mat-form-field>
        <mat-select
          formControlName="from"
          (selectionChange)="onCurrencySelectionChanged($event)">
          @for(item of currencyList() | keyvalue; track item.key) {
          <mat-option [value]="item.key">{{ item.value }}</mat-option>
          }
        </mat-select>
        @if(currencyConverterForm.controls.from.hasError("sameCurrency")) {

        <mat-error>{{ sameCurrencyValidatorErrorMessage() }} </mat-error>
        }
      </mat-form-field>
    </section>

    <section class="section-wrapper">
      <span> To: </span>
      <mat-form-field>
        <mat-select
          formControlName="to"
          (selectionChange)="onCurrencySelectionChanged($event)">
          @for(item of currencyList() | keyvalue; track item.key) {
          <mat-option [value]="item.key">{{ item.value }}</mat-option>
          }
        </mat-select>
        <mat-error>Currency is required</mat-error>
      </mat-form-field>
    </section>
  </form>
</div>
