<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile [colspan]="card2.cols" [rowspan]="card2.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="card3.cols" [rowspan]="card3.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="card4.cols" [rowspan]="card4.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
