<div class="history-container">
    <h2>Conversion History</h2>

    @if (recordHistory().length > 0) {
    <table mat-table [dataSource]="recordHistory()" class="mat-elevation-z8">
        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> Amount </th>
            <td mat-cell *matCellDef="let record"> {{ record.amount }} </td>
        </ng-container>
        <!-- Base Currency Column -->
        <ng-container matColumnDef="base">
            <th mat-header-cell *matHeaderCellDef> Base Currency </th>
            <td mat-cell *matCellDef="let record"> {{ record.base }} </td>
        </ng-container>
        <!-- Date Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let record"> {{ record.date | date:'short' }} </td>
        </ng-container>
        <!-- Rates Column -->
        <ng-container matColumnDef="rates">
            <th mat-header-cell *matHeaderCellDef> Rates </th>
            <td mat-cell *matCellDef="let record">
                @for (rate of record.rates ; track rate) {
                <div>
                    {{ rate.code }}: {{ rate.value }}
                </div>
                }
            </td>
        </ng-container>
        <!-- Converted Value Column -->
        <ng-container matColumnDef="convertedValue">
            <th mat-header-cell *matHeaderCellDef> Converted Value </th>
            <td mat-cell *matCellDef="let record">
                @for (rate of record.rates; track rate) {
                <div>
                    {{ record.amount | currencyConvert : rate.value | currency : rate.code }}
                </div>
                }
            </td>
        </ng-container>
        <!-- Header and Rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    }

    @if (recordHistory().length === 0) {
    <p>No history records available.</p>
    }
</div>