<div class="page-currency-wrapper">

  <app-currency-form [currencyList]="currencyResource.value()" (convertChanged)="onConvertChanged($event)"
    (amountChanged)="onAmountChanged($event)"></app-currency-form>


  <app-currency-result [amount]="amount()" [to]="convertWriteTrigger()?.to"
    [rate]="ratesResource.value()?.rates"></app-currency-result>



</div>

<pre>
    <!-- {{ formValue() | json }}
   form validation : {{ currencyConverterForm.valid }}
    async {{  convertTrigger$ | async | json}}
    signal {{  convertTrigger() | json}} -->
</pre>